<div class="friends-container">
  <section class="requests-received">
    <h2>Friendship Requests</h2>
    {{#if friendshipRequests}}
      <div class="friendship-requests">
        {{#each friendshipsRequests}}
          <p class="username">{{this.recipient.username}}</p>
        {{/each}}
      </div>
    {{else}}
      <p>You have currently no friend requests.</p>
    {{/if}}
  </section>

  <section class="requests-sent">
    <h2>Pending Friendships</h2>
    {{#if pendingFriendships}}
      <div class="pending-friendships">
        {{#each pendingFriendships}}
          <p class="username">{{this.requester.username}}</p>
          <div class="friend-actions">
            <form action="friends/accept" method="post">
              <input
                type="hidden"
                name="requesterId"
                value={{this.requester._id}}
              />
              <button
                type="submit"
                class="btn btn-primary"
                id="submit"
              >Accept</button>
            </form>
            <form action="friends/reject" method="post">
              <input
                type="hidden"
                name="requesterId"
                value={{this.requester._id}}
              />
              <button
                type="submit"
                class="btn btn-primary"
                id="submit"
              >Reject</button>
            </form>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p>You have currently no pending requests.</p>
    {{/if}}
  </section>

  <section class="friends">
    <h2>You are friends with</h2>
    <div class="accepted-friendships">
      {{#each acceptedFriendships}}
        <p class="username">{{this.requester.username}}</p>
      {{/each}}
    </div>
  </section>
</div>